<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.prove2022.test.TestRepository">
    <select id="getTestDTOLIst" resultType="com.example.prove2022.test.TestDTO">
        SELECT *
        FROM test
        WHERE id = #{id}
    </select>
    <select id="getTestDTOListAnnotationTest" resultType="com.example.prove2022.test.TestDTO">
        SELECT *
        FROM test
        WHERE id = #{id}
    </select>
</mapper>